*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
}

img{
    object-fit: cover;
    width: 100%;
}

/* Header Styling */
.header-logo img{
    width: 34px;
    height: 34px;
}

.header-container, .header-logo, ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container{
    padding: 1.5em 3.3125em;
}

.title{
    font-size: 1.25rem;
    font-weight: 700;
    margin-left: 4px;
}

li{
    list-style: none;
}

.nav-list{
    font-weight: 600;
    text-decoration: none;
    padding-left: 1.5em;
    color: #090909;
}

/* Hero Image and Post Title */

.hero-container{
    margin: 0 2em 2.125em 2em;
}

.hero-date{
    font-weight: 400;
    font-size: 1rem;
}

.hero-title{
    font-weight: 700;
    font-size: 2rem;
    padding: 10px 0;
}

.hero-description{
    font-weight: 400;
    line-height: 20px;
    font-style: normal;
}

.hero-img-container{
    width: calc(100% - 50px);
    margin: 0 auto;
    padding: 3em 0 1em 0;
}

/* Story Styling */
.story-container{
    padding: 2em 2em 3em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.story{
    max-width: 900px;
}

.story h3{
    font-size: 1.25rem;
    margin-bottom: 1em;
}

.story-one{
    margin-bottom: 1em ;
}

/* Recent Posts Styling */
.recent-post{
    text-align: center;
    font-size: 1.25rem;
}

.recent-post-container{
    padding: 1.75em 3em;
}

.blogs-container{
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    grid-gap: 1.5em;
}

.blog-date{
    margin: 0.875em 0;
    font-weight: 400;
    font-size: 14px;
}

.blog-title{
    font-size: 1.5rem;
    margin-bottom: 0.625rem;
    color: #141414;
}

.blog-description{
    font-weight: 400;
    color: #505050;
}

/* Footer styling */
.footer-container{
    margin-top:  3.3125em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #202020;
    height: 15vh;
    
}

.web-title{
    color: #ECECEC;
    letter-spacing: -0.03em;
    font-size: 0.85rem;
    font-weight: 700;
}

.copyright{
    color: #D7D7D7;
    font-weight: 400;
    font-size: 12px;
}

@media (max-width: 480px){
    
    /* Header Styling */
    .header-container{
        padding: 1em 1.25em;
    }

    .header-logo img{
        width: 20px;
        height: 20px;
    }

    .title{
        font-size: 0.8125rem;
    }

    .nav-list{
        font-size: 0.8rem;
    }

    /* Hero Image and Post Title */

    .hero-container{
        margin: 0 0 2.125em 0;
    }
    

    .hero-img-container{
        padding: 3em 0 1em 0;
    }

    .story-container, .hero-img-container{
        width: calc(100% - 50px);
        margin: 0 auto;
    }

    /* Story Styling */
    .story-container{
        padding: 1em 0 3em 0;
    }

    /* Recent Posts Styling */
    .recent-post-container{
        padding: 1.75em 2em;
    }

    .blogs-container{
        display: grid;
        grid-template: 1fr 1fr 1fr / 1fr;
        grid-gap: 1.5em;
    }
}

@media (min-width: 480px) and (max-width: 600px){
    
    /* Header Styling */
    .header-container{
        padding: 1em 1.25em;
    }

    .header-logo img{
        width: 30px;
        height: 30px;
    }

    .title{
        font-size: 1rem;
    }

    .nav-list{
        font-size: 1rem;
    }

    /* Hero Image and Post Title */

    .hero-container{
        margin: 0 0 2.125em 0;
    }
    

    .hero-img-container{
        padding: 3em 0 1em 0;
    }

    .story-container, .hero-img-container{
        width: calc(100% - 50px);
        margin: 0 auto;
    }
    /* Story Styling */
    .story-container{
        padding: 1em 0 3em 0;
    }

    /* Recent Posts Styling */
    .recent-post-container{
        padding: 1.75em 2em;
    }

    .blogs-container{
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        grid-gap: 1.5em;
    }
}